html,
body {
  padding: 0;
  margin: 0;
  /* font-family: Signika Negative, sans-serif; */
  font-family: Lato, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: white;
  background: #040303;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: aliceblue;
    background: rgb(24, 23, 23);
  }
}

.inputLabel {
  display: flex;
  flex-direction: column;
  width: 40vw;
  min-width: 280px;
  margin: 7px 0px;
  font-size: 17px;
  font-weight: bold;
}

.inputBox {
  padding: 12px 5px;
  border-radius: 10px;
  border: 2px solid #7c828d;
  font-size: 15px;
  margin: 7px 0px;
}

.inputDescription {
  font-size: 12px;
  font-weight: normal;
  color: #7c828d;
}

.fileInput {
  width: 40vw;
  min-width: 280px;
  border-radius: 10px;
  border: 2px solid #7c828d;
  padding: 50px;
  align-items: center;
  justify-content: center;
  margin: 7px 0px;
  color: #7c828d;
}

.btn {
  padding: 10px 30px;
  border-radius: 45px;
  background-color: #0d0e0e;
  border-style: solid;
  border-width: 5px;
  border-color: #2f383c;
  cursor: pointer;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px #2f383c;
}

.btnSqr {
  border-radius: 15px;
}

.btn:hover {
  background-color: #9925ad;
  border-color: #720a84;
  transition: all 0.5s;
  /* background-color: linear-gradient(to right, red , yellow);; */
}

.btn:active {
  box-shadow: 0 1px #666;
  transform: translateY(4px);
  transition: all 0.3s;
}

.errorBox {
  width: 100%;
  padding: 10px;
  background-color: #983634;
  border-radius: 15px;
  border: 2px solid rgb(176, 10, 10);
}

.errorBox h3 {
  color: white;
}

.errorBox p {
  color: white;
}

.successBox {
  position: fixed;
  min-width: 250px;
  bottom: 0;
  left: 0;
  margin: 20px;
  z-index: 2;
  padding: 10px;
  background-color: #349848;
  border-radius: 15px;
  border: 2px solid rgb(10, 176, 18);
}

/* .successBox h3{
  
} */

.successBox p {
  margin-top: -12px;
}

.loaderContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
