.nftcardborrow{
    width: 240px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom right, #121112, #232222); 
    border-radius: 10px;
    border: 1px solid #565555;
    /* border: 4px solid #000; */
}

.ncbcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ncbcenter:hover{
    border: 1px solid #9925ad;
}

.nftcardborrow h5{
    margin-top: -20px;
    color: #aaaaaa;
}

.iconContainer{
    width: 60%;
    height: 40%;
    background-color: #434141;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}